html, body {
	margin: 0;
	padding: 0;
}

/* There are weird issues with outlines around blocks */
* {
	outline: 0;
}

h1 {
	font-family: monospace;
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

#editor {
	flex: 1;
	width: 70%;
	border: 1px solid gray;
	padding: 20px;
	margin: 20px;
}
